# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/

# Massive Datasets (Lending Club CSVs and compressed files)
data/
*.csv
*.gz

# Trained Model Artifacts (re-loadable via code)
model/
*.pkl

# macOS specific system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes